<footer class="topnav">
    <div class="copyright">
        <div class="container">
            All articles belong to <a href='https://www.nytimes.com' target="-blank"> The New York Times</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Articles Json</a>
        </div>
    </div>
</footer>